<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>electronux</title>
  <base href="./">
  <link rel="stylesheet" href="style.scss.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="root"></div>
  <script src="dll_vendor.js"></script>
  <script src="bundle.js"></script>
  <script type="text/javascript">
    const { ipcRenderer } = require('electron')
    // ipcRenderer.send('setting', {
    //     action: 'changeSetting',
    //     params: {
    //         lang: 'zh_CN',
    //     }
    // });
    // ipcRenderer.on('setting-reply', (evnet, data) => {
    //     console.log('setting reply: ', data);
    // })

    ipcRenderer.send('user', {
        action: 'autoLogin',
        params: {
            username: 'admin',
            pwd: '123456',
            host: '10.0.9.67',
            auto: true,
            memory: true,
        },
    });

    ipcRenderer.on('user-reply', (evnet, data) => {
        console.log('user reply: ', data);
    });

</script>
</body>
</html>
